
form#synth-products-selector{ margin: 8px 0 15px 0;}
#synth-products-selector div, #synth-products-selector label, #synth-products-selector input{display: inline; margin: 0;}
#synth-products-selector div div{padding-right: 2em;}

#edit-transaction-initials, #edit-transaction-quantity, #edit-transaction-id {width: auto;}
#edit-product-id, #edit-product-quantity {width: auto;}

div.product-transaction-list { margin: 15px 0 15px 0;}
table.product-transaction-list caption {font-size: 150%; margin-bottom: 5px;}

